.sleepBg {
  background-image: url('/images/sleep.jpg');
}

.weirdBg {
  background-image: url('/images/weird.gif');
}

.card {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
}

.messageBoard {}